<div class="container">

    <form>
        
        <label>Nome</label>
        <input class="form-control m-2" type="text" placeholder="Inform seu nome completo">

        <label>E-mail</label>
        <input class="form-control m-2" type="email" placeholder="Inform seu e-mail">

        <label>Telefone</label>
        <input class="form-control m-2" type="number" placeholder="Inform seu telefone">

        <div>
            <button class="btn btn-outline-primary m-2">Cadastrar</button>
            <button class="btn btn-outline-danger m-2">Cancelar</button>
        </div>

    </form>

</div>
